/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

li {
  list-style-type: none;
}

body {
  background-color: #b91450;
}

h2 {
  color: white;
}

h3 {
  font-size: 1.2rem;
  color: #b91450;
}

#age-range {
  background-color: white;
}


/* ======================= */

.wrapper {
  max-width: 1300px;
}

.ms_secondary_container {
  width: fit-content;
}

.wrapper {
  background-color: white;

}
